.MiddleSection{  
    width: 100%;
    height: 60%;
    display: flex;
}
.captionSection{
  flex: 1;
 
  height: 100%;

}

.videoSection{
  flex: 1;
  background-color: aquamarine;
  height: 100%;

}
  