.MiddleSection{  
    width: 100%;
    height: 60%;
    display: flex;
   border-bottom: 1px solid rgb(93, 93, 93);
}
@media only screen and (max-width: 600px) {
  .MiddleSection{  
    flex-direction: column;
}
  
}
.captionSection{
  flex: 1;
 
  height: 100%;
  

}

.videoSection{
  flex: 1;
  border-left: 1px solid rgb(93, 93, 93);
  height: 100%;
  background-color: #191919;

}
  